@import "./fonts.scss";
:root {
  --direct: rtl;
  --font-family-amiri: "Amiri", serif;
  --font-family-noto-kufi: "Noto Kufi Arabic Variable", sans-serif;
  --font-family-hafs-nastaleeq: "hafs-nastaleeq", serif;
  --font-family-uthman-taha-naskh: "Uthman-Taha-Naskh", serif;

  /* Noto Naskh Arabic Variable', serif */
  --quran-reader-direction: rtl;
  --quran-content-title: "Gulzar", serif;
  --font-size-1: 2.2vh;
  --font-size-2: 2.8vh;
  --font-size-3: 3vh;
  --font-size-4: 3.2vh;
  --font-size-5: 3.7vh;
  --font-size-6: 4vh;
  --font-size-7: 4.21vh;
  --font-size-8: 4.7vh;
  --font-size-9: 5.1vh;
  --font-size-10: 5.6vh;
  --translation-font-size-1: 0.85rem;
  --translation-font-size-2: 1rem;
  --translation-font-size-3: 1.18rem;
  --translation-font-size-4: 1.4rem;
  --translation-font-size-5: 2rem;
  --translation-font-size-6: 2.3rem;
  --translation-font-size-7: 2.7rem;
  --translation-font-size-8: 3rem;
  --translation-font-size-9: 3.5rem;
  --translation-font-size-10: 4rem;
  /* line height */
  --line-height-small: 0.8125rem;
  --line-height-normal: 1rem;
  --line-height-large: 1.1875rem;
  --line-height-xlarge: 1.375rem;
  --line-height-jumbo: 2.25rem;
  /* spacing */
  --spacing-micro: 0.1875rem;
  --spacing-xxsmall: 0.375rem;
  --spacing-xsmall: 0.625rem;
  --spacing-small: 0.8125rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.1875rem;
  --spacing-mega: 2rem;
  /* font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  /* spacing */
  --spacing-micro: 0.1875rem;
  --spacing-xxsmall: 0.375rem;
  --spacing-xsmall: 0.625rem;
  --spacing-small: 0.8125rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.1875rem;
  --spacing-mega: 2rem;

  --gap-size: calc(1.5 * var(--var-spacing-mega));
  --opacity: calc(
    var(--v-activated-opacity) * var(--v-theme-overlay-multiplier)
  );
}

.action-list {
  padding: 2px !important;
}

.smooth-scroll-behaviour {
  transform: translate3d(0, 0, 0);
}

.bismillah-subtitle {
  line-height: 2.425;
}

.m-auto {
  margin: auto;
}
.p-auto {
  padding: auto;
}
.d-flex {
  display: flex;
  margin-top: 2px;
}

.mt-1 {
  margin-top: 2px;
}

ion-loading.custom-loading {
  --background: #e3edff;
  --spinner-color: #1c6dff;

  color: #1c6dff;
}

/* Translations View */
.translations-view-col {
  direction: rtl !important;
  text-align: end;
  display: inline-flex;
  flex-wrap: wrap;
  line-height: 3.8vh;
}

.translations-view-col .end {
  font-size: smaller !important;
  word-spacing: 1px;
  color: #5f5f5f;
  bottom: 2px;
  display: inline-block;
  position: relative;
}

.translations-view-col h3 {
  font-weight: var(--font-weight-normal);
  margin-inline: var(--spacing-micro);
  padding: 0px 1px;
  line-height: 3.8vh;
}

.translation {
  font-weight: var(--font-weight-normal);
  margin-inline: var(--spacing-micro);
  font-size: 15px;
}
/* Quran Reader */
.quran-reader-content-wrapper {
  text-align: center;
  direction: rtl;
}

.action-sheet {
  top: 11px;
}
.quran-reader-content-wrapper .verse-col {
  line-height: 4.8vh;
  direction: rtl;
  /* justify-content: center;
  padding-inline-start: var(--spacing-xxsmall);
  margin-inline-end: var(--gap-size);
  margin-inline-start: var(--gap-size); */
}

.quran-reader-content-wrapper .verse-col .word {
  display: inline-flex;
  padding: 0px 3px;
}

.quran-reader-content-wrapper .verse-col .word .end {
  font-size: small !important;
}
.quran-reader-content-wrapper .verse-col .word-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* Selected Translations Alert */
#translation-alert .alert-button-group {
  justify-content: center;
}

#translation-alert .alert-message {
  text-align: center;
}

#translation-alert .alert-title {
  text-align: center;
}

.smooth-scroll-behaviour {
  transform: translate3d(0, 0, 0);
}